.btn {
    padding: 15px 35px;
    width: 250px;
    background-color: transparent;
    border: 1px solid #9c9999;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.85rem;
    box-shadow: 1px 1px 1px grey, -1px -1px 1px grey;
}

.btn:hover {
    background-color: #db093c;
    border: 1px solid #db093c;
    box-shadow: none;
    cursor: pointer;
    color: white !important;
    transition: all 0.75s ease-in-out;
}

